//颜色
$subject: #1296db;
$grayBackground: #EEEEEE;
$whiteBackground: #ffffff;
$shortWhite: #e3e3e3;
$activatePink: #ffaaff;
$darkgray: #9b9b9b;
$lightGray: #e3e3e3;
$lsgray: #f3f3f3;
$nacarat: #ff0000;
//字号
$medium: 14px;
$large: 16px;
